.attendance-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attendance-header {
  margin-bottom: var(--spacing-element-margin);
  text-align: center;
}

.attendance-header h2 {
  font-size: var(--font-size-title);
  color: var(--color-text-dark);
  margin-bottom: 8px;
}

.attendance-header .date {
  font-size: var(--font-size-normal);
  color: var(--color-text-gray);
}

.attendance-body {
  width: var(--size-card-width);
}

.attendance-card-item {
  text-align: center;
  padding: var(--spacing-element-padding-large);
}

.attendance-status {
  margin-bottom: var(--spacing-element-margin);
}

.attendance-status p {
  margin-top: 10px;
  font-size: var(--font-size-extra-large);
  color: var(--color-text-dark);
}